@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --foreground: #171717;

  --button-background: #f3f3f3;
  --button-text: #000000;
  --title-color: #111111;
  --muted: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #ededed;

    --button-background: #1f1f1f;
    --button-text: #ffffff;
    --title-color: #fafafa;
    --muted: #a1a1a1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
