@import "tailwindcss";



:root {
  --background: #e6e6e6;
  --foreground: #f8f8f8;

  --button-background: #f3f3f3;
  --button-text: #000000;
  --title-color: #111111;
  --muted: #6b7280;

  --text-color: #0c0c0c;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #181818;

    --button-background: #1f1f1f;
    --button-text: #ffffff;
    --title-color: #fafafa;
    --text-color: #fafafa ;
    --muted: #a1a1a1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;


}


h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h4,
h5,
h3,
h2 {
  font-size: clamp(.85rem, .95vw, 1.2rem);
}



p,
ul,
li,
a,
Link {
  font-size: clamp(.75rem, .8vw, 0.9rem);
}

input::placeholder,
textarea::placeholder {
  font-size: clamp(0.775rem, .9vw, 1.125rem);
}
.icon-fluid {
  width: clamp(1.2rem, 1.6vw, 1.7rem);
  height: clamp(1.2rem, 1.6vw, 1.7rem);
}
.truncate-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4;

}

.ver-mais {
  color: blue;
  font-weight: 500;
  margin-left: 4px;
}
